<div data-ng-app="page2App"
     data-ng-controller="Page2Ctrl as page2Ctrl">
  <h1>Page 2</h1>
  <input class="form-control" data-ng-model="testparam">
  <input class="form-control" data-ng-disabled="testparam" data-ng-model="testparam">

  <button style="margin-top:20px" class="ce apn ame" data-ng-click="page2Ctrl.test()">TEST</button>

  <div style="margin-top:40px">
    <span>{{testparam2}}</span>
  </div>
</div>
<%-contentFor('script')%>
<script>
  var app = angular.module('page2App')
    .config(function (testServiceProvider) {
      testServiceProvider.setInitValue('initValue');
    });
</script>

<script src="/scripts/services/testService.js"></script>
<script src="/scripts/controllers/page2.js"></script>
