<div data-ng-app="page1App"
     data-ng-controller="Page1Ctrl as page1Ctrl">
  <h1>Page 1</h1>
  <input class="form-control" data-ng-model="testparam">
  <input class="form-control" data-ng-disabled="testparam" data-ng-model="testparam">

  <button style="margin-top:20px" class="ce apn ame" data-ng-click="page1Ctrl.test()">TEST</button>

  <div style="margin-top:40px">
    <span>{{testparam2}}</span>
  </div>
</div>
<%-contentFor('script')%>
<script src="/scripts/services/testService.js"></script>
<script src="/scripts/controllers/page1.js"></script>
<script>
  var app = angular.module('page1App')
    .config(function (testServiceProvider) {
      testServiceProvider.setInitValue('initValue');
    });
</script>
