<!DOCTYPE html>
<html>
<head lang="ko">
  <meta http-equiv="content-language" content="ko">
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Hello</title>
  <script>
    if (typeof myWeb === 'undefined') {
      myWeb = {};
    }
    if (typeof myWeb.services === 'undefined') {
      myWeb.services = {};
    }
    if (typeof myWeb.controllers === 'undefined') {
      myWeb.controllers = {};
    }
    if (typeof myWeb.directives === 'undefined') {
      myWeb.directives = {};
    }
  </script>
</head>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="../lib/data/domain.js"></script>
<script src="./services/loginService.js"></script>
<script src="./index.js"></script>
<body>
<div data-ng-app="loginApp" class="container" style="padding: 20px; text-align: center;"
     data-ng-controller="LoginCtrl as loginCtrl">
  <h1>Login</h1>
  <form action="/api/login" method="post">
  <input name="email" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;" class="form-control" type="text" data-ng-model="email" placeholder="e-mail">
  <input name="password" style="margin-top:-1px; border-top-left-radius: 0;border-top-right-radius: 0;"  class="form-control" type="password" data-ng-model="passwd" placeholder="Password">

  <input type="submit" style="margin-top:20px" class="btn btn-primary" data-ng-click="loginCtrl.login()" value="login"/>
  </form>
</div>
</body>
</html>
