<style>
  .progress {
    margin: 0;
    background-color:gray;
  }
  .col-amount{
    padding:0;
    margin-bottom:30px;
  }
  .span-header{
    display:block;
    font-size:30px;
    margin-bottom:10px;
  }
</style>
<div>
  <%
  if(data.disks){
    for(var i=0;i <data.disks.length; i++){
  var disk = data.disks[i];
  %>

  <span class="span-header"><label class="label label-primary"><%-disk.mountpoint%></label></span>
  <span> Total : <%-disk.total%></span>
  <div class="progress">
    <div class="progress-bar progress-bar-info" style="width: <%-disk.usedPer%>%">
      <%-disk.usedPer%>%
    </div>
  </div>
  <div class="col-xs-6 col-amount" style="text-align: left">
    Used : <%-disk.used%>
  </div>
  <div class="col-xs-6 col-amount" style=" text-align: right">
    Available : <%-disk.available%>
  </div>
  <%}}%>
</div>
<%-contentFor('script')%>
<script>
</script>
