<style>
  .col-left{
    text-align:left;
  }

  .col-right{
    text-align:right;
  }

</style>


<div style="text-align: center; margin-top:10px">

  <div>
    <div class="col-xs-4 col-left">
      <a onclick="history.back()"><span style="font-size:20px" class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4 col-right">
      <a><span style="font-size:20px" class="glyphicon glyphicon-question-sign"></span></a>
    </div>
  </div>
  <div>
    <h2 style=" font-family:'맑은고딕'">배송지 선택</h2>
    <h6 id="comment">우편번호를 확인해주세요</h6>
  </div>

  <form id="postcode_form" style="display: none;" action="/test5_2" method="get">
    <!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 id를 부여한다 -->
    <input class="form-control" type="text" name="postcode" id="postcode" value="" /><br/>
    <input class="form-control" type="text" name="address" id="address" value=""/><br/>
    <input class="form-control" type="text" name="details" id="details" value=""/><br/>
    <input class="form-control" type="text" name="extra_info" id="extra_info" value=""/><br/>
  </form>

  <hr/>

  <!-- 검색 기능을 표시할 <div>를 생성한다 -->
  <div id="postcodify"></div>
</div>

<%-contentFor('script')%>

<script src="//cdn.poesis.kr/post/search.min.js"></script>

<script>

  init();
  function init() {
    $(function () {
      $("#postcodify").postcodify({
        insertPostcode5: "#postcode",
        insertAddress: "#address",
        insertDetails: "#details",
        insertExtraInfo: "#extra_info",
        hideOldAddresses: false
      });
    });

    if(myWeb.data.addr) {
      var interval = setInterval(function () {
        if ($('.keyword')[0] && $('.search_button')[0]) {
          clearInterval(interval);
          $('.keyword').css('display', 'none');
          $('.search_button').css('display', 'none');

          $('.keyword').val(myWeb.data.addr);
          $('.search_button').click();
        }
      }, 100);
    }else{
      document.getElementById('comment').innerHTML='동/읍/면 혹은 도로명주소로 검색해주세요'
    }


    var interval2 = setInterval(function(){
      if(isPostCodeChanged()){
        //alert(postcode);
        document.getElementById('postcode_form').submit();
      }
    });

  }

  var postcode = $('#postcode').val();
  var address = $('#address').val();
  var details = $('#details').val();
  var extra_info = $('#extra_info').val();

  function isPostCodeChanged() {
    var new_postcode = $('#postcode').val();
    var new_address = $('#address').val();
    var new_details = $('#details').val();
    var new_extra_info = $('#extra_info').val();
    var result = postcode !== new_postcode ||
      address !== new_address || details !== new_details || extra_info !== new_extra_info;
    postcode = new_postcode;
    address = new_address;
    details = new_details;
    extra_info = new_extra_info;
    return result;
  }

  function onChange(){
    alert('hello');
  }

</script>
