<div style="text-align: center">
  <h1>현재시간</h1>
  <h2 id="now"></h2>
  <h1>시난의 나이는</h1>
  <h2 id="age"></h2>
</div>
<script>
  //document.getElementById('age').innerHTML='test';
  setAge();
  setInterval(setAge,1000);

  function setAge(){
    var age = 30-(new Date(2016,0,1).getTime() - Date.now())/(365*24*3600*1000);
    age = age.toString().substr(0,13);
    document.getElementById('age').innerHTML=age;

    document.getElementById('now').innerHTML= new Date(Date.now()).toLocaleString();
  }
</script>
